body {
    font-family: Arial, sans-serif;
    background-color: #B3D8A8; 
    text-align: center;
    padding: 20px;
}

h1 {
    color:#3D8D7A;
    font-size: 30px;
}
h2{
    color:#3D8D7A;
    font-size: 30px;

}
#prediction{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}
#mainform {
    background: #FBFFE4;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
}
#secondform{
    width: 50%;
    height: 100px;
    flex-direction: row;
}
#homebutton{
    width: 170px !important;
    align-self: center;
    justify-self: center;
    height: 80px;
    padding: 3px;
    margin-top: 20px;
    background-color: #629584;
}

#search {
    width: 70%;
    padding: 10px;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #E2F1E7;
    border: 1px solid #ccc;
}
#Select{
    color: #3D8D7A;
    font-size: 25px;
    margin: 10px !important;
}

.symptom-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    text-align: left;
    padding: 7px;
}

.symptom-item {
    background: #629584;
    padding: 5px;
    border-radius: 5px;
    color: #E2F1E7;
    border: 1px solid #ccc;
    display: block;
    cursor: pointer;
}
.symptom-item:hover{
    transform: scale(1.04);
    -webkit-box-shadow: 7px 7px 10px 10px #cee1db1a;
    -moz-box-shadow: 7px 7px 10px 10px #9eb1aa29;
    box-shadow: 7px 7px 10px 10px #ebfaf517;  
  
}

button {
    background: #3D8D7A;
    color: #E2F1E7;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    max-width: 150px;
    max-height: 70px;
    font-size: 25px;
}

button:hover {
    background: #2e4f54;
    transform: scale(1.04);
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: white;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    width: max-content;
    font-size: 22px;
    color: #2e4f54;
}
